@page
@model GoldenShoe.Site.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

@*  If valid ID is passed do  *@
@if (Model.validId == true)
{
    <div class="wrapper">
        <div class="image-box">
            <figure>
                <img src="@Model.shoeSelectedDB.ImgUrl" />
            </figure>
        </div>
        <div class="product-description-box">

            <h3>@Model.shoeSelectedDB.Name</h3>
            <section class="product-description">
                <ul style="font-size:1.1em;">
                    <li>Details: @Model.shoeSelectedDB.Name2</li>
                    <li>Brand: @Model.shoeSelectedDB.Brand</li>
                    <li>Variant: @Model.shoeSelectedDB.Variant</li>
                </ul>
                <div>
                    @if (Model.shoeSelectedDB.OnSale == "True")
                    {
                        <span class="font-weight-bold" style="font-size:1.7em;"><strike>£@Model.shoeSelectedDB.original_price</strike><span style="color:red"> £@Model.shoeSelectedDB.Price</span></span>
                    }
                    else
                    {
                        <span class="font-weight-bold" style="font-size:1.7em;">£@Model.shoeSelectedDB.Price</span>
                    }
                </div>

                <p>Select Size</p>

                <h4>Stock: @Model.shoeSelectedDB.Stock</h4>

                @if (Model.shoeSelectedDB.Stock <= 0)
                {
                    <h3 class="text-danger">Product is out of stock!</h3>
                }
                else
                {
                    <a asp-page="/cart" asp-page-handler="BuyNow" asp-route-id="@Model.shoeSelectedDB.ShoeID">
                        <button class="btn-primary">Buy Now</button>
                    </a>
                }

            </section>
        </div>
    </div>
    @*--- using partial view ** not implemented partial view ------ *@
    @*<partial name="_promoShoe" model="Model.ShoePromos" />*@
    <hr />
    <div class="container-fluid text-center">
        <div class="row w-50 h-50">

            @if (Model.Promo == true)
            {
                <h5>Customers that bought this, also bought this.</h5>
                @foreach (var item in Model.ShoePromos)
                {

                    <div class="col-sm-4 col-sm-push-8">
                        <div class="selected">
                            <a href="/Products/Details?ProductId=@item.SelectPromoProduct.ShoeID" style="text-decoration:none;color:rgb(101, 99, 99)"><img class="img-fluid" src="@item.SelectPromoProduct.ImgUrl" alt="" />@item.SelectPromoProduct.Name</a>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="product-promo">
                    <h4>Product promo image placeholder</h4>
                    <svg width="620" height="200" style="background:#9b9999">
                        <rect width="200" height="200" style="fill:rgb(101, 99, 99);stroke-width:3;stroke:black" />
                        <rect width="200" height="200" style="fill:rgb(101, 99, 99);stroke-width:3;stroke:black" x="210" />
                        <rect width="200" height="200" style="fill:rgb(101, 99, 99);stroke-width:3;stroke:black" x="420" />
                    </svg>
                </div>
            }
            <hr />
        </div>
    </div>
}

